.env
.idea
venv
migrations
src/prototypes
src/static/images/profile_pictures/*
src/instance
src/db
__pycache__
# Elastic Beanstalk Files
.ebextensions
.ebignore
.slugignore
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
