alembic
AudioRecorder
AudioRecorder
Authlib
azure-storage-blob
azure-storage-file-share
azure-storage-file-datalake
azure-storage-queue
chromadb
elevenlabs
Flask
Flask_Login
Flask_Migrate
flask_sqlalchemy
google_api_python_client
keyboard
openai
pinecone
protobuf
PyAudio
python-dotenv
pytz
sounddevice
soundfile
SpeechRecognition
SQLAlchemy
stripe
Werkzeug
gunicorn
psycopg2