{% extends 'index.html' %}

{% block title %}
<title>Sign in to TruLuv</title>
{% endblock %}

{% block body %}
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-sm w-full">
        <div class="text-center mb-6">
            <h1 class="text-2xl font-semibold mb-2">Sign up</h1>
            <p class="text-gray-600">to start your journey with Humanly</p>
        </div>
        <div class="mb-6">
            <button class="google-sign-in bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full flex items-center justify-center mb-4">
                <i class="fab fa-discord mr-2"></i> Continue with Google
            </button>
            <div class="flex items-center justify-between mb-4">
                <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
                <span class="flex-none uppercase text-xs text-gray-400 font-semibold mx-4" style="position:relative; top:8px;">or</span>
                <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
            </div>
            <form action="/signup" method="post">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" name="username" class="border rounded px-4 py-2 w-full mb-4" required>
                <label for="password">Password</label>
                <input type="password" placeholder="********" name="password" class="border rounded px-4 py-2 w-full mb-4" required>
                {% if error_message %}
                <span class="error">{{ error_message }}</span>
                {% endif %}
                <label for="confirm-password">Confirm Password</label>
                <input type="password" placeholder="********" name="confirm-password" class="border rounded px-4 py-2 w-full mb-4" required>
                <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded w-full">Sign up</button>
            </form>
        </div>
        <div class="text-center">
            <p class="text-sm">Already have an account? <a href="/login" class="text-blue-600 hover:underline">Log in</a></p>
        </div>
    </div>

{% endblock %}
