/* Default styles */

:root {
    /* colors */
    --primary-color: #7367F0;
    --secondary-color: #9E95F5;
    --accent-color: #FFCD38;
    --text-color: #525252;
    --background-color: #FFFFFF;
    --test-dark-purple: #8800ff;
    --error-color: #DC2626;
    --gray-outline: var(var(--text-color));

    --primary-color-dark: #7367F0;
    --secondary-color-dark: #9E95F5;
    --accent-color-dark: #FFCD38;
    --text-color-dark: #FFFFFF;
    --background-color-dark: #202020;

    /* fonts */
    --font-family: 'Inter', sans-serif;
    --font-size-title: 60px;
    --font-size-h1: 48px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-lg: 20px;
    --font-size-base: 16px;
    --font-size-sm: 12px;

    /* spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* others */
    --border-radius: 1rem;
    --transition-speed: 0.5s;

    /* special colors */
    --default-button-hover-color: #5f53eb;
    --scroll-bar-color: #767683;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    height: calc(100vh - 64px);

    /* variables */
    --profile-size: 3rem;
    --chat-button-size: 2.5rem;
}

h1 { font-size: var(--font-size-h1) }
h2 { font-size: var(--font-size-h2) }
h3 { font-size: var(--font-size-h3) }

.chat-message-user {
    background-color: var(--primary-color);
    color: white;
}

.chat-message-ai {
    background-color: var(--text-color);
    color: white;
}

/* header styling */

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* nav bar */

nav a {
    position: relative;
    color: grey;
    transition: color 0.3s;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--primary-color);
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav a:hover::before {
    visibility: visible;
    width: 100%;
}

/* clickable cards */

.card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.005);
    box-shadow: 10 2px 4px rgba(0, 0, 0, 0.5);
}

.card-container {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.card {
    scroll-margin: 1rem;
    scroll-snap-align: start;
}

.card.selected {
    border: 2px solid #7367F0;
    box-shadow: 0 0 15px rgba(115, 103, 240, 0.3);
}


/* buttons */
/* NOTE: Current buttons relies on tailwind for additional styling */

.default-button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease;
}

.default-button:hover {
    background-color: var(--default-button-hover-color);
}

.hollow-button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.hollow-button:hover {
    background-color: var(--primary-color);
    color: white;
}


.cancel-button-red {
    padding: 0.625rem 1.25rem;
    margin: 1rem;
    font-size: 0.9rem;
    background-color: white;
    color: var(--error-color);
    border: 2px solid var(--error-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.cancel-button-red:hover {
    background-color: var(--error-color);
    color: white;
}

.cancel-button-red:focus {
    outline: none;
}


/* scrollbar - Chrome/Edge/Firefox */

/* Chrome/Safari/Edge scrollbar styling */
*::-webkit-scrollbar, .card-container::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track, .card-container::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: rgba(0, 0, 0, 0.1);    
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb, .card-container::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);                        /* color of the scroll thumb */
    border-radius: 6px;                                         /* roundness of the scroll thumb */
    border: 3px solid transparent;                              /* padding around scroll thumb */
    background-clip: padding-box;                               /* prevents border from eating into the background */
    box-shadow: inset 0 0 0 3px var(--scroll-bar-color);        /* creates gradient-like effect */
}

*::-webkit-scrollbar-thumb:hover, .card-container::-webkit-scrollbar-thumb:hover {
    background: var(--shade-color);
    box-shadow: inset 0 0 0 3px var(--shade-color);
}


/* flash messages */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-info {
    background-color: #ebf8ff;
    color: #3182ce;
}

.alert-success {
    background-color: #f0fff4;
    color: #38a169;
}

.alert-warning {
    background-color: #fffaf0;
    color: #dd6b20;
}

.alert-error {
    background-color: #fff5f5;
    color: #e53e3e;
}

.alert button {
    background: none;
    border: none;
    cursor: pointer;
}


/* profile dropdown */

.hover-text-primary {
    transition: color 0.3s ease-in-out;
}

.hover-text-primary:hover {
    color: var(--primary-color);
}

.profile-dropdown {
    display: none;
    opacity: 0;
    transition: opacity var(--transition-speed) ease;
}

.profile-dropdown.show {
    display: block;
    animation: fadeIn var(--transition-speed) forwards;
}

.profile-dropdown.hide {
    animation: fadeOut var(--transition-speed) forwards;
}

.dropdown-item {
    opacity: 0;
    animation: fadeIn var(--transition-speed) forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* credit display */

.glowing-border {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}


/* Additional Styles */

.default-text {
    color: var(--text-color);
}

.invert-text {
    color: var(--text-color-dark);
}

/* color and text styles */

.text-glow {
    color: var(--text-color);
}

.primary-color-text {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.primary-button-color {
    color: var(--primary-color);
}


/* containers and misc */

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.beta-tag {
    color: #7367F0;
    font-size: var(--font-size-base);
}

.radio-input:checked+.radio-label {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}
